@model  List<proyectoPA.BaseDatos.tPelicula>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cartelera";
}


<div class="content">
    <h4>Lista de Peliculas</h4>
    <ul class="movies">
        <li>
            <h4>Toy Story 3</h4>
            <img src="~/root/img/1page-img2.jpg" alt="Toy Story 3">
            <p>Eget nunc nunc mattitor curabitur piscipis nec ac hac pellus sem intesque sociis. Metusmetuer hendimentesque diam at orbi sempor.</p>
            <div class="wrapper"><button>Detalles</button></div>
        </li>
        <li>
            <h4>Finding Nemo</h4>
            <img class="responsive-img" src="~/root/img/nemo2.jpg" alt="Finding Nemo">
            <p>Eget nunc nunc mattitor curabitur piscipis nec ac hac pellus sem intesque sociis. Metusmetuer hendimentesque diam at orbi sempor.</p>
            <div class="wrapper"><button>Detalles</button></div>
        </li>
        <li>
            <h4>The Incredibles</h4>
            <img class="responsive-img" src="~/root/img/increibles.jpg" alt="The Incredibles">
            <p>Eget nunc nunc mattitor curabitur piscipis nec ac hac pellus sem intesque sociis. Metusmetuer hendimentesque diam at orbi sempor.</p>
            <div class="wrapper"><button>Detalles</button></div>
        </li>
    </ul>
</div>



