@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="content">
    <h3>Últimos <span>Estrenos</span></h3>
    <ul class="movies">
        <li>
            <h4>ToyStory 3</h4>
            <img src="~/root/img/1page-img2.jpg" />
            <p>Egetnunc nunc mattitor curabiturpiscipis nec ac hac pellus sem intesque sociis. Metusmetuer hendimentesque diam at orbi sempor.</p>
            <div class="wrapper"><button>Detalles</button></div>
        </li>
    </ul>
</div>