@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/root/css/index.css" rel="stylesheet" />

<div class="content">
    <h3>Próximamente <span>en cines</span></h3>
    <ul class="movies">
        <li class="movie-item">
            <h4>Dune: Parte Dos</h4>
            <a href="https://www.youtube.com/watch?v=Way9Dexny3w">
                <img src="~/root/img/Dune 2.jpg" class="movie-img" />
            </a>
            <p>En esta segunda entrega vemos la consagración de Paul Atreides (Timothée Chalamet) como mesías fremen y la aparición de dos elementos icónicos de la novela: el salvaje y sicótico Feyd-Rautha y los míticos gusanos de arena del planeta Arrakis.</p>
            <div class="wrapper"><button>Próximamente</button></div>
        </li>

        <li class="movie-item">
            <h4>Godzilla y Kong III</h4>
            <a href="https://www.youtube.com/watch?v=Y5nq2APYURE">
                <img src="~/root/img/Godzilla y Kong El nuevo imperio.jpg" class="movie-img" />
            </a>
            <p>Warner colocó en su lugar su nueva entrega del Monsterverse, un reencuentro entre Kong y Godzilla que recupera algunos de los elementos que vimos en el primer choque entre estos dos titanes.</p>
            <div class="wrapper"><button>Próximamente</button></div>
        </li>

        <li class="movie-item">
            <h4>Planet of the Apes IV</h4>
            <a href="https://www.youtube.com/watch?v=DDWWwEiWHJw">
                <img src="~/root/img/El reino del planeta de los simios.jpg" class="movie-img" />
            </a>
            <p>Tras la muerte de César en 'La guerra del planeta de los simios', la saga se traslada a varias generaciones después, con los monos como especie absolutamente dominante en el planeta.</p>
            <div class="wrapper"><button>Próximamente</button></div>
        </li>

        <li class="movie-item">
            <h4>Furiosa: De la saga Mad Max</h4>
            <a href="https://www.youtube.com/watch?v=BUvtEhcuavU">
                <img src="~/root/img/Furiosa De la saga Mad Max.jpg" class="movie-img" />
            </a>
            <p>En esta ocasión conoceremos los orígenes de Furiosa, el personaje que allí interpretó Charlize Theron, y al que aquí dará vida Anya Taylor-Joy.</p>
            <div class="wrapper"><button>Próximamente</button></div>
        </li>

        <li class="movie-item">
            <h4>Inside Out 2</h4>
            <a href="https://www.youtube.com/watch?v=LEjhY15eCx0">
                <img src="~/root/img/Inside Out 2.jpg" class="movie-img" />
            </a>
            <p>En ella conocemos a una nueva sensación, Ansiedad, mientras que antiguos amigos como Alegría, Tristeza a Ira tienen que enfrentarse a la adolescencia de su dueña, que lo pondrá todo patas arriba.</p>
            <div class="wrapper"><button>Próximamente</button></div>
        </li>

        <li class="movie-item">
            <h4>Deadpool 3</h4>
            <a href="https://www.youtube.com/watch?v=UzFZR2dRsSY">
                <img src="~/root/img/Deadpool 3.jpg" class="movie-img" />
            </a>
            <p>Hugh Jackman retomando su papel de Wolverine, se abre la puerta para que los personajes de los X-Men arramblen en el MCU.</p>
            <div class="wrapper"><button>Próximamente</button></div>
        </li>
    </ul>
</div>