@model proyectoPA.Entidades.Usuario
@{
    Layout = "~/Views/Shared/_LayoutExt.cshtml";
    ViewBag.Title = "Home Page";
}

<body>
    <div id="main">
        <div class="box">
            <div class="border-left"></div>
            <div class="border-right"></div>
            <div class="inner">
                <form class="form">
                    <p class="title">Inicio de Sesión</p>
                    <label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input", type = "email", required = "required" })
                        <span>Correo Electrónico</span>
                    </label>

                    <label>
                        @Html.PasswordFor(m => m.Contrasenna, new { @class = "input", required = "required" })
                        <span>Contraseña</span>
                    </label>
                    <button class="submit">Iniciar Sesión</button>
                    <p class="signin">¿Necesitas una cuenta? <a href="@Url.Action("Registro","Home")">Registro</a></p>
                </form>
            </div>
        </div>
    </div>


    <div class="corner-image">
        <img src="@Url.Content("~/root/img/banner-img.png")" alt="Decoración" />
    </div>
</body>