
@{
    ViewBag.Title = "Perfil";
}

<body>
    <div class="prof-card">
        <div class="prof-header">
            <img src="~/root/img/user.png" alt="Profile Background" class="prof-bg">
            <div class="prof-info">
                <h1>Nombre del Usuario</h1>
                <p>Aquí encuentra la información de su perfil.</p>
            </div>
        </div>
        <div class="prof-table">
            <div class="prof-row">
                <div class="prof-label">Correo:</div>
                <div class="prof-value">usuario@ejemplo.com</div>
            </div>
            <div class="prof-row">
                <div class="prof-label">Identificación:</div>
                <div class="prof-value">123456789</div>
            </div>
            <div class="prof-row">
                <div class="prof-label">Reservaciones:</div>
                <div class="prof-value">5</div>
            </div>
        </div>
        <div class="card-actions">
            <a href="#" class="btn">Cambiar contraseña</a>
            <a href="#" class="btn">Actualizar perfil</a>
        </div>
    </div>


</body>


