
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="main">
        <!-- Sección de Quiénes Somos -->
        <div class="box">
            <div class="border-left"></div>
            <div class="border-right"></div>
            <div class="inner">
                <h2>Quiénes Somos</h2>
                <p>Bienvenidos a <strong>Cinema World</strong>, donde ofrecemos una experiencia cinematográfica única. Nuestro objetivo es proporcionar a nuestros clientes las mejores películas, eventos y una experiencia de cine inolvidable. Desde clásicos hasta los últimos estrenos, estamos aquí para satisfacer todas tus necesidades cinematográficas.</p>
                <p>En <strong>Cinema World</strong>, nos enorgullecemos de ofrecer un ambiente acogedor y un servicio al cliente excepcional. Nuestro equipo está compuesto por entusiastas del cine que comparten tu pasión por el séptimo arte. ¡Gracias por elegirnos y esperamos verte pronto!</p>
            </div>
        </div>
    </div>
</body>

