@{
    Layout = "~/Views/Shared/_LayoutExt.cshtml";
    ViewBag.Title = "Home Page";
}
<main>
    <div class="container-fluid">
        <div id="page-register" class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="text-right">
                    <a href="page_login.html" class="txt-default">¿Ya tienes una cuenta?</a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="text-center">
                            <h3 class="page-header">Movies Register Page</h3>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Usuario</label>
                            <input type="text" class="form-control" name="username" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Correo electrónico</label>
                            <input type="email" class="form-control" name="email" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contraseña</label>
                            <input type="password" class="form-control" name="password" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked> Deseo recibir boletines informativos
                                <i class="fa fa-square-o small"></i>
                            </label>
                        </div>
                        <div class="text-center">
                            <a href="../index.html" class="btn btn-primary">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    body {
        background-image: url('https://w0.peakpx.com/wallpaper/663/269/HD-wallpaper-movie-poster-poster-collage-movie-cg.jpg'); /* URL de la imagen de fondo */
        background-size: cover;
        background-position: center;
        font-family: Arial, sans-serif; /* Fuente para el contenido */
        color: #333; /* Color de texto principal */
        height: 100vh; /* Altura completa de la ventana */
        
        justify-content: center;
        align-items: center;
        
        padding: 20px; /* Agregar espacio alrededor del contenido */
    }

    .box {
        background-color: rgba(77, 168, 218); /* Fondo blanco con transparencia */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(77, 168, 218); /* Sombra suave */
        margin: 0 auto; /* Centrar horizontalmente */
        box-sizing: border-box; /* Incluir padding y border en el ancho total */
    }

    
</style>